/* First Coffee font: Used for subtitles, like in the actual stream */
@font-face {
    font-family: 'First Coffee';
    src: url('Fonts/First Coffee.ttf');
    font-display: swap;
}
/* Sobiscuit font: Used for the title of the website. It is the font used for the official Neuro-sama logo */
@font-face {
    font-family: 'Sobiscuit';
    src: url('Fonts/Sobiscuit.ttf');
}
/* Prevent touchscreen devices from accidentally zooming the page (doesn't seem to work for some devices) */
html {
    touch-action: manipulation;
}
body {
    background-color: #FFAFAC;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    -webkit-text-stroke: 0.5px black;
    color: #bbfdff;
    text-shadow: 2px 2px 0 #000000;
    margin: 0.67em 0 0.5em;
    font-family: 'Sobiscuit', Helvetica, sans-serif;
}
p {
    color: white;
    text-shadow: 1px 1px #000000;
    font-family: Helvetica, Arial, sans-serif;
}
/* Styles for the all general buttons (mostly sound effects) */
.btn {
    background-color: #FFFFFF;
    border: none;
    color: black;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #BEBEBE;
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px;
}
.btn:active {
    background-color: #D6D6D6;
    text-shadow: 1px 1px #969696;
    transform: translate(1px, 1px);
    box-shadow: 1px 1px;
}
/* Styles for other buttons (smaller than btn) */
.other {
    padding: 6px 6px !important;
    font-size: 14px !important;
}
.right {
    float: right;
}
.left {
    float: left;
}
/* Styles for the reset subtitles button id */
#rstBtn {
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: 2;
}
/* Styles for the subtitles toggle button id */
#subTgBtn {
    position: fixed;
    bottom: 4px;
    left: 120px;
    z-index: 2;
}
/* Styles for the background image toggle button id */
#bgiTgBtn {
    position: fixed;
    bottom: 4px;
    right: 4px;
    z-index: 2;
}
/* Styles for the subtitles id */
#subtitles {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* text */
    color: white;
    text-align: center;
    padding: 32px 0px;
    margin: 0px auto;
    z-index: 1;
    display: none;
    font-family: 'First Coffee', Helvetica, sans-serif;
    font-size: clamp(1rem, 2.5vw, 3rem);
    -webkit-text-stroke: 1px #451928;
    text-shadow: 1.5px 1.5px #45192880;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
    .btn {
        text-shadow: 1.25px 1.25px #BEBEBE;
        font-size: 18px;
        margin: 5px 2.5px;
    }
    #subtitles {
    -webkit-text-stroke: 0.6px #451928;
    text-shadow: 0.75px 0.75px #45192880;
    }

}
/* For big phones (eg. iPhone 14 Pro Max, Samsung Galaxy S25 Ultra) */
@media (max-width: 480px) {
    h1 {
        font-size: 1.25rem;
        text-shadow: 1.5px 1.5px 0 #000000;
        margin: 0.6em 0 0;
    }
    p {
        font-size: 0.85rem;
    }
    #subtitles {
    -webkit-text-stroke: 0.6px #451928;
    text-shadow: 0.75px 0.75px #45192880;
    }
}
/* For small phones (eg. iPhone 12 Pro, iPhone SE). Works as low as iPhone 5 resolution - 320px */
@media (max-width: 400px) {
    h1 {
        font-size: 0.95rem;
        text-shadow: 1px 1px 0 #000000;
        margin: 0.56em 0 0;
    }
    p {
        font-size: 0.75rem;
    }
    .btn {
        padding: 14px 14px;
        text-shadow: 1px 1px #BEBEBE;
        font-size: 16px;
        margin: 4px 2px;
    }
    .other {
        padding: 4px 4px !important;
        font-size: 11px !important;
    }
    #subTgBtn {
        left: 94px;
    }
    #subtitles {
    -webkit-text-stroke: 0.6px #451928;
    text-shadow: 0.75px 0.75px #45192880;
    }
}